script(src="js/jquery.min.js")
script(src="js/amazeui.min.js")
script(src="js/knockout-3.2.0.js")
script(src="js/knockout.validation.js")
script(src="js/knockout.validation.zh-CN.js")
script(src="js/footable/js/footable.min.js")
script(src="js/knockout.validation.zh-CN.js")
script(src="js/footable/js/footable.min.js")
script(src="js/json2.js")
script(src="app.js")
script(src="js/jquery.percentageloader-0.2.js")