.am-header.am-header-default(data-am-widget="header")
  h1.am-header-title
    a(href="#") 智能物联
  .am-header-left.am-header-nav
    a(href="#" data-bind="click: gopage, visible: showback")
      i.am-header-icon.am-icon-chevron-left(style="font-size:14px")
      span.am-header-nav-title 返回