div.am-gotop.am-gotop-fixed(data-am-widget="gotop")
  a(href="#top" title="回到顶部")
    span.am-gotop-title 回到顶部
    i.am-gotop-icon.am-icon-chevron-up
div.am-modal.am-modal-comfirm#exit-confirm(tabindex='-1')
  div.am-modal-hd 智能物联平台
  div.am-modal-bd#dialog 你确定退出系统？
  div.am-modal-footer
    span.am-modal-btn(data-am-modal-cancel) 取消
    span.am-modal-btn(data-am-modal-confirm) 确定
div#dialog-confirm(tabindex='-1')
div.am-modal.am-modal-prompt#my-prompt(tabindex='-1')
  div.am-modal-dialog
    div.am-modal-hd 系统消息
    div.am-modal-bd#msg 未知错误
    div.am-modal-footer
      span.am-modal-btn(data-am-modal-cancel) 知道了