doctype html
html.no-js
  head
    title= title
    include ./includes/head
  body#mainModel
    include ./includes/header
      include ./includes/nav
    block content
    include ./includes/navbar
    include ./includes/footer